page-home {
  h2 {
    color: black;
  }

  .contenedor-encabezado{
    float: right;
    
  }

  .encabezado{
    display: flex;
    flex-direction: row; 
  }

  .encabezado-font{
    color:black; 
    text-align: right;
    font-size: medium;
  }

  .acciones{
    display: flex;
  }

  .title-home{
    margin-top: 5%;
  }

  .offLineActions{
      display: flex;
      text-align: center;
      align-content: center;
      align-items: center;
  }

  .numberCircle {
    width: 30px;
    line-height: 30px;
    border-radius: 80%;
    text-align: center;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    background-color: darkblue;
    color: white;
    font-weight: bold;
  }

  .numberCircleOff {
    width: 30px;
    line-height: 30px;
    border-radius: 80%;
    text-align: center;
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    background-color: darkblue;
    color: white;
    font-weight: bold;
  }

  h4 {
    display: flex;
    color: #ccc;
    width: 100%;
    margin-top: .2em!important;
  }
  h4::before,
  h4::after {
    content: "";
    flex:1;
    align-self: center;
    border-bottom: 1px solid #ccc;
  }
  h4::before {margin-right: .3em}
  h4::after {margin-left: .3em}

  .error-message {
    background-color: map-get($colors, danger);
    color: #fff;
    border: 1px solid #c0392b;
    padding: 10px;
  }

  .success-message {
    background-color: map-get($colors, secondary);
    color: #fff;
    border: 1px solid #32db64;
    padding: 10px;
  }

  a, ion-buttons {
    color: white;
  }

  .github-button {
    width: 49px;
    height: 20px;
    display: inline;
  }
}
